<!DOCTYPE html>
<html>
<head>
  <title>Timetracker1</title>
  <meta name="viewport" content="width=devise-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<header>
		<%= link_to content_tag('canvas', 'TimeTracker', id: 'logocanvas'), root_url %>
		<nav>
			<ul>
				<% nav_items.each do |nav_item| %>
					<%= display_nav_item(nav_item[:displaytext], nav_item[:controllername], nav_item[:linkurl])%>
				<% end %>
			</ul>
		</nav>
	</header>
	<section id="main">
		<article>
			<% [:notice, :alert].each do |level| %>
				<% if flash[level] %>
					<div class="flash <%= level %>"><%= flash[level] %></div>
				<% end %>
			<% end %>
			<%= yield %>
		</article>
		<aside>
			<%= user_logged_in_msg %>
			<% if content_for?(:aside) %>
				<%= yield :aside%>
			<% else %>
				<%= sidebar %>
			<% end %>
		</aside>
	</section>
	<footer>
		<p>Time Tracker is a <em>Sample Company</em> App</p>
	</footer>
</div>
</body>
</html>
